
.cover-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
 background-image: url("./assets/coverPage.jpg");
 background-size: cover;
 background-position: center;
 color: white;
}

.cover-text{ 
  font-size: 12vw;
} 

.app-body{
  padding: 5rem 10rem;
}

.loading-spinner{
  display: flex;
  justify-content: center;
}

.error-text{
  color: red;
}